.div2 {
    color: rgb(136, 22, 170);
}

.a1 {
    color: blue;
}

.nam1 {
    color: chocolate;
}

h2 {
    color: #bd3838;
}

.hello {
    width: 500px;
    height: 500px;
    background-color: #bd3838;
}

.na1 {
    color: aqua;
    width: 500px;
    height: 400px;
}

.bak {
    color: rgb(42, 165, 83);
    width: 700px;
    height: 900px;
    background-color: aqua;
    background-image: url(/images/preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.p11 {
    background-image: url(/images/preview.jpg);
    width: 400px;
    height: 100px;
    margin-top: 280px;
}
.border{
    width: 300px;
    height: 200px;
    background-color: burlywood;
    border-width:10px;
    /* border-style: solid; */
    border: 10px solid blue;
    border-bottom-color: rgb(81, 255, 0);
    margin: 50px;
    padding:80px;

}
.borderrides{
width: 300px;
height: 300px;border-radius: 50px;
background-color: aqua;
border: 2px solid red;
border-radius: 20px 10px 90px;
margin: 50px;
padding: 20px;
}
.input{
    margin: 70px;
}
.static{
    padding: 3px;
    margin: 10px;
    border: 3px solid red;
    position: static;
}
.relitive{
    padding: 3px;
    margin: 10px;
    border: 3px solid red;
    position: static;
     margin-left:30px;
}
.fixed{
    padding: 31px;
    border: 10px solid rgba(0, 27, 148, 0.781) ;
    position: fixed;
    top: 0;
    right: 0;
}
.sticky{
padding: 10px;
border: 10px solid rgb(234, 0, 255);
position: sticky;
background-color: rgb(124, 124, 56);
}
.sp1{
    padding: 10px;
    color: white;
    background-color: red;
    display: block !important;
}
.sp2{
    padding: 10px;
    color: white;
    background-color: blue;
    display: block !important;
}
.s3{
    padding: 30px;
    color: aliceblue;
    background-color: green;
    display: inline;
}
.s4{
    padding: 30px;
    color: aliceblue;
    background-color: yellow;
    display: inline;
}
.box{
    background-color: chocolate;
    width: 150px;
    height: 50px;
    color: white;
    margin: 5px;
}
.boxs1{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
